.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    background-color: gray;
    border-radius: 12px;
}